* {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  

.spin-animation {
    animation: spin 1s linear infinite;
}